*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;

}

.background{
    background: url(../img/1\ \(23\).jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.text, .box{
    margin-top: 45vh;
    flex: 1;
}

.text{
    margin-left: 10%;
    font-weight: 300px;
}

.box{
    margin-left: 25%;
}

b{
    font-size: 20px;
    color: linear-gradient(50deg, #49a09d, #322c82);
    font-weight: 800;
    font-family:cursive ;
}

.text h1{
    font-size: 70px;
    color: #fff;
    font-weight: 800;
    font-family:cursive ;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.text p a{
    color: #fff;
    font-weight: 700;
}

.form{
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

 td{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: medium;
}

.username, .password{
    border-bottom: 2px solid #fff;

}

.submit{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font: bold;
}

.submit:hover{
    background: #fff;
    color: #000;
}
input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 40%;
    background: white;
  }
  input[type=password] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=password]:focus {
    width: 40%;
    background: white;
  }

  .session{
    padding-top: 15px;
    color:#f30440;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 0 10px #f30440;
    text-transform: uppercase;
  }
