html,
body {
	height: 100vh;
}

body {
	margin: 0;
	background-image: url('../img/1\ \(7\).jpg') ;
    background-size: cover;
	font-family: sans-serif;
	font-weight: 200;
}



table {

	width: 700px;
	border-collapse:collapse;
    border: transparent;
    border-radius: 25px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 5px;
     background: #122130;
}

td,h2,h3,legend{
	padding: 15px;
	/* background: linear-gradient(50deg, #49a09d, #322c82); */
	color: #fff;


}

h1{
	padding: 15px;
    padding: 5px;

	color: #fff;
    font-weight: bold;



}
a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

th,.submit{
    background: linear-gradient(50deg, #49a09d, #322c82);
            color:white;
            text-align: center;
            font-size: 12px;
            text-decoration: none;
            padding: 2px;
            float:inline-start;
            font-weight: bold;
}


 input{
    border:0;
    border-bottom:1px solid white;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;

 }

 .button {
    display: inline-block;
    padding: 5px 55px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background: linear-gradient(50deg, #49a09d, #322c82);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button:hover {background-color: #3e8e41}

  .button:active {
    background: linear-gradient(50deg, #49a09d, #322c82);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }








th {
	text-align: left;
}


	th {
		background-color: #55608f;
	}


    input[type=text] {
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: transparent;
        background-image: url('searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }

      input[type=text]:focus {
        width: 80%;
        background: #122130;
      }

      .form-forget{
        padding-top: 15px;
        color:#f30440;
        font-size: 15px;
        font-weight: 600;
        text-shadow: 0 0 10px #f30440;
        text-transform: uppercase;

    }
